body {
    background: url(img/bgsignup.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: lighter;
}

.register {
    display: flex;
    justify-content: center;
    height: 600px;
}

.left-register {
    background: url(./img/bgimg_small.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

    .left-register > h2 {
        font-size: 40px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: 'Monoton', cursive;
    }

.form-register {
    background-color: rgb(17, 27, 37);
    width: 600px;
    padding-top: 30px;
}

    .form-register div div form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .form-register div div form input {
        background-color: inherit;
        border: none;
        width: 300px;
        height: 50px;
        padding: 0 15px;
        font-size: 17px;
        font-weight: 200;
        border-bottom: 5px solid #fff;
        font-family: 'Raleway', sans-serif;
        margin: 0 6em;
        box-sizing: border-box;
        outline: none;
        display: inline-block;
        color: #fff;
    }


        .form-register div div form button {
            width: 335px;
            margin: 30px auto;
            display: block;
            height: 50px;
            text-align: center;
            font-size: 17px;
            font-weight: normal;
            color: #fff;
            background-color: #3970b0;
            border-color: transparent;
            font-family: 'Raleway', sans-serif;
        }

    .form-register div div p {
        text-align: center;
    }


    .face:hover {
        animation: spin 3s;
        color: #fff;
        background-color: #3b5998;
        border-color: #3b5998;
    }

.yt:hover {
    animation: spin 3s;
    color: #fff;
    background-color: #cd201f;
    border-color: #cd201f;
}

.tw:hover {
    animation: spin 3s;
    color: #fff;
    background-color: #00ACEE;
    border-color: #00ACEE;
}

.gg:hover {
    animation: spin 3s;
    color: #fff;
    background-color: #DB4A39;
    border-color: #DB4A39;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer p {
    text-align: center;
    padding-top: 40px;
}

    footer p a {
        color: #f15f22;
        text-decoration: none;
    }

        footer p a:hover {
            color: green;
        }
        li{
            list-style-type:none;
            color: red;
            text-align:center;
            padding-right:30px;
        }
.icon-contact {
    display: flex;
    justify-content: center;
}

    .icon-contact div {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #fff;
        margin: 1px;
        cursor: pointer;
    }

    .icon-contact div a {
        position: absolute;
        left: 13px;
        top: 13px;
    }
.services{

}
