* {
    padding: 0;
    margin: 0;
    font-family: 'HelveticaNeue';
    font-size: 1em;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    line-height: 18px;
}

.container-nav {
    width: 100%;
    background-color: #e7e7e7;
    height: 40px;
}

.container-category {
    width: 100%;
    background-color: white;
    height: 3.5em;
    margin-bottom: 1px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

.Login_Panel {
    display: flex;
    justify-content: space-between;
    background-color: #e7e7e7;
}

    .Login_Panel ul {
        display: flex;
        padding: 5px;
    }

        .Login_Panel ul li {
            text-decoration: none;
            padding: 5px 13px;
            cursor: pointer;
        }

            .Login_Panel ul li:hover {
                background-color: #fff;
                border-radius: 2px;
            }

            .Login_Panel ul li a {
                color: #777;
                opacity: .7;
                font-size: 12px;
            }

                .Login_Panel ul li a i {
                    font-size: 15px;
                    padding-right: .8em;
                }

.Seach_panel {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    align-items: center;
    height: 65px;
}

.seach_input input {
    width: 500px;
    height: 48px;
    border: none;
    outline: none;
    position: relative;
}

.btn-seach {
    width: 48px;
    height: 48px;
    color: #eb7c26;
    border: none;
    font-size: 1em;
    background-color: white;
    position: absolute;
}

/*icon header*/
.orange {
    color: #eb7c26;
    font-size: 1.3em;
    padding-right: 8px;
    padding-top: 8px;
}

.phone_contact {
    color: #eb7c26;
    font-size: 1.3em;
    font-weight: bold;
}

.Seach_panel a {
    text-decoration: none;
}

.body1 {
    width: 60%;
    margin: 0 auto;
    background-color: #eb7c26;
}


/* category */
.category_bar {
    display: flex;
    justify-content: space-between;
}


.container-category {
    display: flex;
    align-items: center;
}

.category-box {
    display: block;
    font-weight: bold;
    float: left;
    font-size: 15px;
    cursor: pointer;
    border: .5px solid #bdbdbd;
    line-height: 56px;
    padding-right: 47px;
    border-top: none;
}

    .category-box:hover {
        color: #eb7c26;
    }

.menu {
    position: absolute;
    font-size: 1.2em;
    display: block;
    box-sizing: border-box;
    line-height: 46px;
    background-color: white;
    left: 380px;
    padding-left: 1%;
    padding-right: 74px;
    top: 162px;
    left: 384px;
}

    .menu li a span:hover {
        color: #eb7c26;
    }

    .menu li a {
        color: #333;
    }

        .menu li a span {
            font-size: 15px;
        }

.grid {
    width: 60%;
    margin: 0 auto;
}

.container-Body {
    width: 100%;
    background-color: #f8f8f8;
}
